@CHARSET "UTF-8";

.kwl_outdoor_temp_normal {
	position: absolute;
	margin-left: 74px;
	margin-top: -93px;
}

.kwl_supply_temp_normal {
	position: absolute;
	margin-left: -44px;
	margin-top: -54px; 
}

.kwl_extract_temp_normal {
	position: absolute;
	margin-left: -44px;
	margin-top: -93px;
}

.kwl_exhaust_temp_normal {
	position: absolute;
	margin-left: 74px;
	margin-top: -54px;
}

.kwl_outdoor_temp_bypass {
	position: absolute;
	margin-left: 74px;
	margin-top: -54px;
}

.kwl_extract_temp_bypass {
	position: absolute;
	margin-left: -44px;
	margin-top: -93px;
}

.kwl_extract_temp_summer {
	position: absolute;
	margin-left: 10px;
	margin-top: -93px;
}

.kwl_fanspeedlevel_icon {
	position: absolute;
	margin-left: -131px;
	margin-top: -146px;
}

.kwl_fanspeedlevel_text {
	position: absolute;
	margin-left: -73px;
	margin-top: -131px;
}

.kwl_filter_icon {
	position: absolute;
	margin-left: 2px;
	margin-top: -150px;
}

.kwl_filter_text {
	position: absolute;
	margin-left: 85px;
	margin-top: -133px;
}

.kwl_voc_icon {
	position: absolute;
	margin-left: -6px;
	margin-top: -185px;
}

.kwl_voc_text {
	position: absolute;
	margin-left: 44px;
	margin-top: -173px;
}

.kwl_rh_icon {
	position: absolute;
	margin-left: -90px;
	margin-top: -178px;
}

.kwl_rh_text {
	position: absolute;
	margin-left: -59px;
	margin-top: -173px;
}

.kwl_settings_icon {
	position: absolute;
	margin-left: 100px;
	margin-top: -240px;
}
